.mainmenubutton {
    -fx-font-size: 32px;
    -fx-max-width: 9999999999999;
    -fx-max-height: 9999999999999;
    -fx-border-width: 5px;
    -fx-border-color: #038cfc;
    -fx-background-color: #92cdfc;
    -fx-text-fill: #0058a1;
}
.logoutbutton {
    -fx-font-size: 32px;
    -fx-max-width: 9999999999999;
    -fx-max-height: 9999999999999;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ff1100;
    -fx-background-color: #bfaaa8;
    -fx-text-fill: #0a0100;
}


.buttonsgrid {
    -fx-vgap: 5px;
    -fx-hgap: 5px;
}
