AnchorPane {
    -fx-background-color: rgba(30,144,255,0.2);
    -fx-font-family: "Book Antiqua";
}

Button {
    -fx-background-color: rgba(30,144,255,0.2);
    -fx-border-width: 1px;
    -fx-border-color: #518afc;
}

Button:hover {
    -fx-background-color: rgba(30,144,255,0.6);
}

.table-column {
    -fx-alignment: center;
    -fx-background-color: rgba(179, 213, 255, 0.2);
}

#table {
    -fx-alignment: center;
    -fx-row-valignment: CENTER;

    -fx-padding: 0.166667em;

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em;
    -fx-cell-size: 2.0em;
    -fx-text-fill: -fx-text-inner-color;
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 12pt;
}

.table-row-cell:hover {
    -fx-border-color: black;
    -fx-table-cell-border-color: black;
    -fx-background-color: #a8cbff;
}

.table-row-cell:selected {
    -fx-border-color: black;
    -fx-table-cell-border-color: black;
    -fx-background-color: #488bf0;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}