.table-column {
    -fx-alignment: center;
}

#table {
    -fx-alignment: center;
    -fx-row-valignment: CENTER-RIGHT;

    -fx-padding: 0.166667em;

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em;
    -fx-cell-size: 2.0em;
    -fx-text-fill: -fx-text-inner-color;
}