#edit{
    -fx-background-color: rgba(73, 214, 103, 0.7);
    -fx-border-width: 1px;
    -fx-border-color: #088a24;
}

#edit:hover {
    -fx-background-color: rgba(73, 214, 103, 1);
}

#delete{
    -fx-background-color: rgba(214, 54, 36, 0.7);
    -fx-border-width: 1px;
    -fx-border-color: #941001;
}

#delete:hover {
    -fx-background-color: rgba(214, 54, 36, 1);
}