.keyboardBody {
    -fx-background-color: #0148ff;
}

.keyboardButton {
    -fx-background-color: dodgerblue;
    -fx-font-size: 24px;
}

.keyboardButton:hover{
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.keyboardText {
    -fx-font-size: 24px;
}